.subtitle_finder li {
    list-style-type: none;
    font: 11px tahoma;
    background: #222;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
}
.subtitle_finder li a {
    color: #fff;
}
.subtitle_finder   input[type="text"] {
    font: 11px tahoma;
}
.subtitle_finder input[type=text] {
    font: 11px tahoma;
    width: 75%;
    height: 25px;
}
.subtitle_finder input[type=submit] {
    height: 33px;
    font: 11px tahoma;
}